<connectionStrings>
   <add name="POAConnectionString" connectionString="Data Source=5.49.217.43;Initial Catalog=POA;Persist Security Info=True;User ID=sa;Password=asdfasdf1234"
      providerName="System.Data.SqlClient" />
   <add name="POAConnectionString1" connectionString="Data Source=5.49.217.43;Initial Catalog=POA;Persist Security Info=True;User ID=sa;Password=asdfasdf1234"
      providerName="System.Data.SqlClient" />
</connectionStrings>