body {
}

ul#coolmenu
{
	padding: 1px 0px 1px 0px;
	margin: 0px;
	width: 100%;
	text-decoration: none;
	background-color: white;
}

ul#coolmenu > li
{
	padding: 2px;
	margin: 0px;
	border-width: 1px;
	display: inline;
	border-color: #FFFFFF;
	background-color: white;
	color: Black;
	border-right-style: solid;
	border-left-style: solid;
}



ul#coolmenu > li > span
{
	color:Black;
	text-decoration:underline;
	display:inline;
}

ul#coolmenu p
{
	display:inline;
	color:Black;
}


form.coolform
{
	padding: 5px;
	border-style: none;
	background-color: white;
}


form.coolform p
{
	padding: 5px;
	margin: 0px;
	border-style: none none dashed none;
	border-width: 1px;
	border-color: #000000;
}

form.coolform p > label
{
	border:inherit;
	color:Black;
}


form.coolform input[type="button"]
{
	border: 1px solid #000000;
	display: inline;
	background-color: white;
	font-weight: bold;
	color: black;
}

